@font-face {
    src: url("fonts/WarblerVariable[opsz\,wght]-Edu.woff") format("woff"),
         url("fonts/WarblerVariable[opsz\,wght]-Edu.woff2") format("woff2");

    font-family: 'Warbler Variable';
    font-style: normal;
    font-weight: normal;
    }

    @font-face {
        src: url("fonts/WarblerVariable-Italic[opsz\,wght]-Edu.woff") format("woff"),
             url("fonts/WarblerVariable-Italic[opsz\,wght]-Edu.woff2") format("woff2");
    
        font-family: 'Warbler Variable Italic';
        font-style: italic;
        font-weight: normal;
        }
    
body{
    background-color: #FFF0DF;
    cursor: url(assets/cursorgreen.svg), auto;
}

a:hover{
    cursor: url(assets/cursortan.svg), auto;
}

button:hover{
    cursor: url(assets/cursortan.svg), auto;
}


.hero {
    background-image: url(assets/warblerheroimage.png);
    background-size: cover;
    background-position: center;
    height: 400px; 
    margin-top: -32px;

} 


/* how the page wrapper will appear on mobile */
@media only screen and (max-width:800px){
    .page-wrapper{
    display: grid;
    /* grid-gap: 25px; */
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "h"
        "v"
        "a"
        "d";
    }
    #history {
        grid-area: h;
        background-color: #3C3027;
        padding-left: 50px;
        padding-bottom: 20px;
        padding-top: 20px;
        padding-right: 50px;
        }
        
        #variations{
        grid-area: v;
        background-color: #3C3027;
        padding-right: 50px;
        padding-top: 20px;
        }
        
        #alphabet {
        grid-area: a;
        background-color: #fff0de;
        padding-bottom: 60px;
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "c" 
            "c" 
            "d" 
            "q";
        }
        
        #download{
        grid-area: d;
        background-color: #414D3A;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 40px;
        padding-top: 20px;
        }
     }



/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
/* grid-gap: 25px; */
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h v"
    "a a"
    "d d";
}

#history {
grid-area: h;
background-color: #3C3027;
padding-left: 50px;
padding-bottom: 20px;
padding-top: 20px;
}

#variations{
grid-area: v;
background-color: #3C3027;
padding-right: 50px;
padding-top: 20px;
}

#alphabet {
grid-area: a;
background-color: #fff0de;
padding-bottom: 20px;
padding-top: 20px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "c c d q";
}

#download{
grid-area: d;
background-color: #414D3A;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 40px;
padding-top: 20px;
}
}

#download button{
    background-color: transparent;
    color: #fff0de;
    border: 2px solid #fff0de;
    transition: all 0.3s ease;
    text-decoration: none;
    padding: 5px 15px;
    font-family: "Warbler Variable";
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1.5px;
    display: inline-block;
    margin-top: 15px;
}

#download button:hover {
    background-color: #fff0de;
    color: #414D3A;
}

.full-alphabet{
    grid-area: c;
    background-color: #fff0de;

}

.a-letterform{
    grid-area: d;
    background-color: #fff0de;
}

.q-letterform{
    grid-area: q;
    background-color: #fff0de;
}
 
.characters{
    color: #6d7b60;
    font-family: "Warbler Variable";
    font-size: 8em;
    text-align: center;
    padding-top: 20px;
}


/* CSS for the footer */
footer{
    background-color: #3C3027;
    color: #fff0de;
    text-align: center;
    padding: 15px;
}

/* variable font animation */

h1{
    font-family: "Warbler Variable";
    color: #fff0de;
    font-size: 1.5em;
    letter-spacing: 2px;
}

h2{
    font-family: "Warbler Variable";
    color: #fff0de;
    font-size: 1.5em;
    padding-top: 20px;
    text-align: right;
    letter-spacing: 2px;
}

h3{
    font-weight:20; 
    text-align: center;
    font-size: 5em;
    font-family: "Warbler Variable";
    line-height: 10px;
    animation: weightChange 7s infinite;
    color: #414D3A;
}

h4{
    font-weight:20; 
    text-align: center;
    font-size: 6em;
    font-family: "Warbler Variable Italic";
    line-height: 10px;
    animation: weightChangeItalic 7s infinite;
    margin: 60px;
    color: #6d7b60;
    padding-top: 170px;
}

h5{
    font-weight:20; 
    text-align: right;
    font-size: 3.5em;
    font-family: "Warbler Variable";
    line-height: 2px;
    animation: weightChange 7s infinite;
    color: #fff0de;
}

h6{
    font-family: "Warbler Variable";
    color: #fff0de;
    font-size: 1.5em;
    letter-spacing: 2px;
}

.paragraph-hero{
    text-align: center;
    font-family: "Warbler Variable Italic";
    line-height: 10px;
    font-size: 1.5em;
    color: #6d7b60;
    font-weight: 600;
}

p{
    color: #fff0de;
    font-family: "Warbler Variable";
    font-size: 1em;
    letter-spacing: 0.5px;
    line-height: 1.35em;

}

.languages{
    padding-top: 40px;
}

.drops:first-of-type:first-letter {
    height: 0.5em;
    margin: 0.09em 0 -0.05em 0;
    padding: 0 0.2em 0 0;
    font-size: 4em;
    line-height: 0.7em;
    float: left;
  }

.right{
    text-align: right;
}

.green{
    color: #414D3A;
    padding-left: 50px;
    font-weight: 700;
}

.fancy{
    font-family: "Warbler Variable Italic";
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 15, "wght" 400;
    }
    50%{font-variation-settings: "opsz" 96, "wght" 700;
    }
    
}

@keyframes weightChangeItalic {
    50%{
        font-variation-settings: "opsz" 15, "wght" 400;
    }
    0%, 100%
       {font-variation-settings: "opsz" 96, "wght" 700;
    }
    
}

/* animations for variations section */
.weight{
    animation: variationsWeight 3s infinite;
}

@keyframes variationsWeight {
    0%, 100%{
        font-variation-settings: "wght" 400;
    }
    50%{font-variation-settings: "wght" 700;
     }
}

.opticalsize{
    animation: variationsOpticalSize 3s infinite;
}

@keyframes variationsOpticalSize {
    0%, 100%{
        font-variation-settings: "opsz" 15;
    }
    50%{font-variation-settings: "opsz" 96;
     }
}


variable font that changes on hover
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}